autom4te*.cache
config.guess
config.sub
configure
install-sh
ltmain.sh
missing
config.cache
config.log
config.status
stamp-h*
confdefs.h
libtool
depcomp
mkinstalldirs
compile
aclocal.m4
Makefile
Makefile.in
docs/html
docs/doxygen-warnings.txt
source/.deps
source/config.h
source/config.h.in
source/d64view.exe
source/Makefile
source/Makefile.in
source/stamp-h*
win32/debug
win32/release
win32/*.ncb
win32/*.opt
win32/*.aps
win32/*.dep
win32/packages/**/*
