; HotDir v7.0.0
; color-configuration file
;
; write the extensions of the files behind the color, with which the
; file should be showed, seperated by commas (,)
; comment lines are those with a ; or a #

black=

; blue: windows applications
blue=ini,cfg,hlp,dll,vbx,vxd,gid,pif,lnk,drv,386,grp,ocx
green=

; cyan: programming
cyan=asm,bas,pas,c,cxx,cc,h,hpp,cpp,mak,lib,map,obj,dsk,bgi,prj,sym,pl,sh,cgi,pas,cs,ts,sln,vcproj,vcxproj,csproj
red=

; magenta: multimedia ( animation / music )
magenta=avi,fli,flc,mov,aas,ra,mid,wav,voc,mp3,vrml,ogg,spx,flac,aac,opus,mp4,m4a

; brown: compressed archives
brown=zip,arj,lzh,arc,zoo,tar,z,tgz,rar,gz,r00,bz,msi,cab,7z,iso,jar,apk,ipa

; dark gray: temporary files
darkgray=bak,$$$,tmp,vxe,swp
lightgray=

; light blue: images
lightblue=tga,gif,pcx,tif,jpg,jpeg,bmp,png,iff,img,ico,pic,pcd,pal,map,col,svg

; light green: executables
lightgreen=com,exe,bat,sys,ovl,scr

; light cyan: documents
lightcyan=rtf,htm,html,odf,ods,doc,docx,xls,xslx,ppt,pptx,xps
lightred=

; light magenta: raytracing
lightmagenta=pov,inc,mdl,scn,3ds,dxf,dwg

; yellow: emulation
yellow=t64,d64,prg,p00,c64,crt,rom,n64,smc

; text files
white=cfg,txt,diz,me,faq,log,lst,md

; end of configuration file
